# Python
__pycache__/
*.pyc
venv/

# Node.js
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de Ambiente e Segredos
.env
.env.*
!.env.example
backend/.env

# IDEs e Ferramentas
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook
*storybook.log
storybook-static

# Git
.DS_Store
.git/
